<!-- views/partials/nav.ejs -->
<nav class="navBar">
    <img src="/images/kainos_logo.png" alt="Kainos Logo" class="navbar-logo">
    <div class="navBarContainer">
    <ul class="nav-bar-links">
      <li><a class="navBarLink" href="/employees">Employee List</a></li>
            
    </ul>
    </div>
  </nav>
  