<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1 class="blue">User Information</h1>

    <% if (user) { %>
        <table class="table">
            <thead>
                <tr>
                    <th class="table">Name</th>
                    <th class="table">Email</th>
                    <th class="table">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="table"><%= user.name %></td>
                    <td class="table"><%= user.email %></td>
                    <td class="table"><%= user.role %></td>
                </tr>
            </tbody>
        </table>
    <% } else { %>
        <p>No user found.</p>
    <% } %>

    
</body>
</html>
